<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Nibir Paul", "https://www.linkedin.com/in/nibir-paul-324512145/", class: "text-white" %></small>
  </div>
</footer>
